#logo2{
	

	height: 80px;
	float: right;
	margin-top: 2px;
	margin-right: 80px;
	margin-bottom: 4px;
}
#logo1{
	height: 80px;
	float: right;
	margin-top: 45px;
	margin-right: 30px;
	margin-left: 30px;

}

#user{
	height: 30px;
	margin-top: 2px;
}


#uno{
	background-color: #C3006E;
}

#dos{
	background-color: #8ADB00;
}
#tres{
	background-color: #03A3B9;
}
#cuatro{
	background-color:#EC0047 ;
}
.cos:link  {
	color: white;
	text-decoration: none;

}

.box1{
	padding-bottom: 20px;
	margin-bottom: 5em;
	box-shadow: -29px 21px 37px -4px rgba(0,0,0,0.75);
}

.box2{
	padding-bottom: 20px;
	margin-bottom: 5em;
	box-shadow: 29px 21px 37px -4px rgba(0,0,0,0.75);
}
.encabezado{
	font-family: 'Jura', sans-serif;
}
<<<<<<< HEAD


.paginacion ul
{
   
   padding-right:2px;
   padding-left: 0px;
   padding-bottom: 0px;
   padding-top: 0px;
   margin: 0px;

}

.paginacion li
{
   list-style-type: none;
   display: inline;
   padding-right: 5px;
}

.pag:hover{
	background: white !important;
}

.bancoimg{
	height: 250px;
	margin-top: 2px;
=======
.pendiente{
	background: #E51222;
	border-radius: 0.2em;
	color:white ;
>>>>>>> 54eb67599e3344b138c848a477308bf8e627649e

}
