<!DOCTYPE html>
<html>
<head>
	<title>
		Perfil de Grupo
	</title>
	

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
	<script type="text/javascript" src="../js/mapa.js"></script>

	<script type="text/javascript" src="../js/jquery-1.11.1.js"></script>
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../css/custom.css">
</head>
<body >
	
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img id="logo1" src="../img/ases1.jpg" class="img-responsive" alt="Responsive image">
      <a  class="navbar-brand" href="#"><h3>SCOUT</h3>El Salvador</a> 
      
    </div>
      
      <br>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="index.html">Inicio</a></li>
        <li><a href="solicitudes_de_inscripcion.html">Inscripciones</a></li>
        <li><a href="solicitudes_renovacion.html">Renovacion</a></li>
        <li><a href="#">Grupos Scout</a></li>
        <li><a href="#">Miembros Scout</a></li>
        <img id="logo2" src="../img/logo1.png" class="img-responsive" alt="Responsive image">

      </ul>

    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
</nav>
	<div class="container">
		<div class="row">
			<h2 class="text-center">
				Perfil de Grupo
			</h2>
			<div class="col-lg-6">
				<label>Nombre del Grupo:</label>
				<label>San Jorge</label>
				<br>
				<label>Numero de Grupo:</label>
				<label>8</label>
				<br>
				<label>Jefe de Grupo:</label>
				<label>Oscar Antonio Lizama Mejia</label>
				<br>
				<label>Estado:</label>
				<select>
					<option>
						Activo 
					</option>
					<option>
						Inactivo
					</option>
				</select>
				<br>
				<label>Fecha de fundacion:</label>
				<label>2/3/14</label>
				<br>
				<label>Exclusivo:</label>
				<label>Si</label>
				<br>
				<label>Lugar de reunion:</label>
				<label>Parque  Vicentenario</label>
				<br>
				<label>Dia de Reunion:</label>
				<label>Sabado</label>
				<br>
				<label>Hora de Reunion:</label>
				<label>3:00 p.m</label>
				<br>
				<label>Propietario del Lugar:</label>
				<label>Alcaldia de San Salvador</label>
				<br>
				<label>Telefono:</label>
				<label>22334354</label>
			</div>
			<div class="col-lg-6">
				<h2 class="text-center">Localizacion</h2>
				<label>Direccion:</label>
				<p>Avenida Jerusalen San Salvador, San Salvador</p>
				<label>Longitud:</label><label>-89.7667888</label>
				<label>Latitud:</label><label>13.7474748</label>
				<img src="../img/mapa.png" class="img-responsive" alt="Responsive image">

			</div>
			

		</div>
	
		<div class="row">
			<div class="col-lg-6 col-lg-offset-6">
			<h2 class="text-center">
				Observaciones
			</h2>
			<table class="table table-striped">
			  <thead>
			  	<tr>
			  		<th>Comentarios</th>
			  		<th>Fecha de Observacion</th>
			  	</tr>
			  </thead>
			  <tbody>
			  	<tr>
			  		<td>
			  			Fundacion de Grupo San Jorge, 2/3/14
			  		</td>
			  		<td>
			  			12/06/14
			  		</td>
			  	</tr>
			  	<tr>
			  		<td>
			  			Consejo de Grupo
			  		</td>
			  		<td>
			  			22/07/14
			  		</td>
			  	</tr>

			  </tbody>
				
			</table>
			<button class="btn btn-primary">
				Agregar Observacion
			</button>
			<button class="btn btn-primary">
				Modificar Observacion
			</button>
			<br>
			<br>
			</div>
		</div>		
	</div>


    
</body>
</html>