<!DOCTYPE html>
<html>
<head>
	<title>Renovación</title>

	<script type="text/javascript" src="../../js/jquery-1.11.1.js"></script>
	<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
  	<link rel="stylesheet" type="text/css" href="../../css/custom.css">
  	<meta charset="UTF-8">
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <img id="logo1" src="../../img/ases1.jpg" class="img-responsive" alt="Responsive image">
      <a  class="navbar-brand" href="#"><h3>SCOUT</h3>El Salvador</a>
    </div>
      <br>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="../indexadmin.html">Inicio</a></li>
        <li><a href="solicitudes_inscripcion.html">Inscripciones</a></li>
        <li><a href="solicitudes_renovacion.html">Renovación</a></li>
        <li><a href="../grupos_scout.html">Grupos Scout</a></li>
        <li><a href="../miembros_scout.html">Miembros Scout</a></li>
        <img id="logo2" src="../../img/logo1.png" class="img-responsive" alt="Responsive image">
      </ul>

    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
	</nav>
	<div class="container">
		<h2 class="text-center">Renovación</h2>
		<div class="row">
			<div class="col-lg-2">
				<img src="../../img/perfil.jpg">
				<br>
				<br>
				<button class="btn btn-success"> <a href="expediente_miembro_admin.html">Expediente</a></button>
			</div>
			<div class="col-lg-6">
				<label>Nombre:</label>
				Oscar Antonio
				<br>
				<label>Apellido:</label>
				Lizama Mejia
				<br>
				<label>Cargo Nacional:</label>
				-------
				<br>
				<label>Ocupación:</label>
				Estudiante
				<br>
				<label>Fecha de Nacimiento:</label>
				12/03/92
				<br>
				<label>Teléfono Celular:</label>
				76654433
				<br>
				<label>Teléfono de Casa:</label>
				22343432
				<br>
				<label>Género:</label>
				Masculino
				<br>
			</div>
			<div class="col-lg-4">
				<label>Grupo Solicitado:</label>
				8
				<br>
				<label>NIS:</label>
				LM000114
				<br>
				<label>Seguro de Vida:</label>
				50192
				<br>
				<label>Cargo de Grupo:</label>
				Rover
				<br>
				<label>Usuario:</label>
				olmejia00192
				<br>
				<label>Contaseña:</label>
				********
				<br>
				<label>Estado:</label>
				Activo
			</div>		
		</div>
		<div class="row">
			<div class="col-lg-10 col-lg-offset-2">
				<label>Direccion:</label>
				<p>Br.San Jose Calle Guatemala Pasaje las Flores #9, San Salvador</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-lg-offset-2">
				
			<label>
				Exento de Pago:
				<input type="checkbox">
			</label>
			<br>
			<label>Comentarios:</label>
			<br>
			<textarea>
				
			</textarea>
			<br>
			<label>Estado de Solicitud:</label>
			<select>
				<option>
					Aceptada
				</option>
				<option>
					Denegada
				</option>
				<option>
					En Espera
				</option>
			</select>
			</div>
			<div class="col-lg-4">
				<label>Comprobante de Pago:</label>
				<img src="../../img/Davivienda.jpg" class="img-responsive">
				<br>
				<a href="index.html" class="btn btn-primary btn-lg active" role="button">Cancelar</a>
				<a href="#" class="btn btn-primary btn-lg active" role="button">Aceptar</a>

				

			</div>
		</div>
		<br>

	</div>

</body>
</html>