<!DOCTYPE html>
<html>
<head>
	<title>Solicitud de Renovacion</title>
	<script type="text/javascript" src="../js/jquery-1.11.1.js"></script>
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
  	<link rel="stylesheet" type="text/css" href="../css/custom.css">
  	<meta charset="UTF-8">
</head>
<body>
	
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <img id="logo1" src="../img/ases1.jpg" class="img-responsive" alt="Responsive image">
      <a  class="navbar-brand" href="#"><h3>SCOUT</h3>El Salvador</a> 
      
    </div>
      
      <br>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Inscripciones</a></li>
        <li><a href="#">Renovacion</a></li>
        <li><a href="#">Grupos Scout</a></li>
        <li><a href="#">Miembros Scout</a></li>
        <img id="logo2" src="../img/logo1.png" class="img-responsive" alt="Responsive image">

      </ul>

    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
	</nav>
	<h1 class="text-center">Solicitud de Renovacion</h1>
		<div class="container">
			<br>
		<div class="row">
			
			<div class="col-lg-2">
				<img src="../img/perfil.jpg">
			</div>
			<div class="col-lg-4">
				<label>Nombre:</label>
				<label>Oscar Antonio</label>
				<br>
				<label>Apellidos:</label>
				<label>Lizama Mejia</label>
				<br>
				<label>DUI:</label>
				<label>-------------</label>
				<br>
				<label>Ocupacion:</label>
				<label>Estudiante</label>
				<br>
				<label>Fecha de Nacimiento:</label>
				<label>8/08/1991</label>
				<br>
				<label>Telefono Celular:</label>
				<label>78909808</label>
				<br>
				<label>Telefono de Casa:</label>
				<label>22345679</label>
				<br>
				<label>Genero:</label>
				<label>Masculino</label>
				<br>
				<label>Direccion:</label>
				<label>Br San Juan, Calle los pinos, pasaje  10 , casa #7</label>
				<br>
				
				</div>
			<div class="col-lg-4">
				<label>Gropo Solicitado:</label>
				<label>8</label>	
			</div>
		</div>
		<div class="row">
			<div class="col-lg-2">
			</div>
			<div class="col-lg-4">
				<br>
				
				<br>
				<label>
				Estado de la Solicitud:
				</label>
				<br>
				<select>
					<option>Espera</option>
					<option>Denegado</option>
					<option>Aceptada</option>
				</select>
			</div>
			<div class="col-lg-4">
				<label>Comprobante de Pago:</label>
				<br>
				<input type="file">
				
				<br>
			<br>
			<button class="btn btn-success">Guardar</button>	
			</div>
		</div>


		</div>

</body>
</html>
